.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background: white;
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 32px;
  font-size: 0.85rem;
  top: 0;
  transition: all 250ms ease-in;
}

.card:hover {
  position: relative;
  top: -12px;
}

.author {
  font-size: 1.25rem;
  font-weight: 700;
}

.author:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .card {
    width: 45%;
    padding: 16px;
    font-size: 1rem;
  }
}
