.input {
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid black;
  margin-bottom: 8px;
}

.input.invalid {
  border: 1px solid #f5554a;
  background: rgba(255, 0, 0, 0.2);
}

.input:focus {
  border: 1px solid #1da1f2;
  background: #f5f5f5;
}
