.goals {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.newGoalLink {
  padding: 8px 32px;
  border-radius: 8px;
  background: var(--color-blue);
  color: var(--color-white);
  margin-bottom: 32px;
  transition: all 250ms ease-in;
}

.newGoalLink:hover {
  background: var(--color-hover-blue);
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
