.information {
  background: var(--color-white);
  padding: 16px;
  border-radius: 12px;
  overflow-y: scroll;
}

.information::-webkit-scrollbar {
  width: 12px;
}

.information::-webkit-scrollbar-thumb {
  background: var(--color-light-blue);
  border-radius: 12px;
}

.title,
.subTitle {
  margin: 0 0 8px;
}

@media screen and (min-width: 768px) {
  .information {
    width: 45%;
    height: 50%;
  }
}
