@value breakpoints: "../../../styles/breakpoints.css";
@value desktop from breakpoints;

.carousel {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.slide {
  position: absolute;
  z-index: -100;
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 450ms ease-in-out;
}

.slide.active {
  position: static;
  z-index: 0;
  opacity: 1;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  transition: opacity 450ms ease-in-out;
}

.titleContainer {
  text-align: center;
}

.title,
.subtitle {
  margin: 0 0 8px;
}

.imageContainer {
  width: 70%;
  height: 60%;
  text-align: center;
  border-radius: 12px;
}

.image {
  display: block;
  object-fit: contain;
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.button {
  background: transparent;
  position: absolute;
  top: 30%;
  width: 30px;
  height: 30px;
  padding: 4px;
  transition: background 200ms ease-in;
  border-radius: 50%;
}

.button.previous {
  left: 0;
}

.button.next {
  right: 0;
}

.button:hover {
  background: rgba(0, 0, 0, 0.2);
}

.navigationContainer {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: center;
}

.navigation {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: var(--color-light-blue);
  transition: background 200ms ease-in;
}

.active.navigation {
  background: var(--color-dark-blue);
}

.navigation:not(:last-child) {
  margin-right: 16px;
}

@media desktop {
  .image {
    object-fit: cover;
  }
}
