.form {
  display: flex;
  flex-direction: column;
  max-width: 560px;
  margin: 0 auto;
}

.feedback {
  margin: 0 0 16px;
  color: var(--color-red);
  font-size: 0.8rem;
  text-align: right;
}

.invalid {
  margin: 0 0 16px;
  color: var(--color-red);
  font-size: 0.8rem;
  text-align: right;
}

.button {
  background: var(--color-blue);
  color: var(--color-white);
  padding: 8px 16px;
  border-radius: 8px;
  transition: background 250ms ease-in;
}

.button:hover {
  background: var(--color-hover-blue);
}
