.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  z-index: 20;
  padding: 1rem;
  background: var(--color-white);
  text-align: center;
  border-radius: 8px;
  animation: slide-down 300ms ease-out forwards;
}

.message {
  margin-bottom: 32px;
  white-space: pre-wrap;
}

.button {
  padding: 6px 12px;
  border-radius: 4px;
  color: var(--color-white);
}

.button.confirm {
  background: var(--color-green);
  transition: all 250ms ease-in;
}

.button.confirm:hover {
  background: var(--color-hover-green);
}

.button.cancel {
  background: var(--color-red);
  transition: all 250ms ease-in;
}

.button.cancel:hover {
  background: var(--color-hover-red);
}

.button:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 600px;
    left: calc(50% - 300px);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
