.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.save,
.delete {
  width: 47.5%;
  padding: 8px;
  border-radius: 8px;
  color: var(--color-white);
  line-height: 100%;
}

.save {
  background: var(--color-blue);
  text-align: center;
  transition: all 250ms ease-in;
}

.save:hover {
  background: var(--color-hover-blue);
}

.save.outdated {
  pointer-events: none;
}

.delete {
  background: var(--color-red);
  transition: all 250ms ease-in;
}

.delete:hover {
  background: var(--color-hover-red);
}
