@value breakpoints: "../../styles/breakpoints.css";
@value desktop from breakpoints;

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}

.contentsContainer {
  margin-bottom: 16px;
}

.title {
  margin: 0 0 16px;
  text-align: center;
}

.date {
  color: var(--color-blue);
  text-align: center;
}

.share {
  display: block;
  position: static;
  width: 100%;
  margin: 0 0 32px;
  border-radius: 8px;
  padding: 8px 32px;
  line-height: 100%;
  color: var(--color-white);
  background: var(--color-dark-blue);
  transition: all 250ms ease-in;
}

.share:hover {
  background: var(--color-hover-blue);
}

@media desktop {
  .contentsContainer {
    display: flex;
    justify-content: space-between;
  }
  .share {
    position: absolute;
    top: 15%;
    width: auto;
  }
}
