.form {
  display: flex;
  flex-direction: column;
}

.money.feedback {
  color: var(--color-dark);
}

.feedback {
  font-size: 0.8rem;
  color: var(--color-red);
  text-align: right;
}

.button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
}

.button.submit {
  right: 38px;
}

.icon {
  transition: color 250ms ease-in;
}

.icon.edit:hover {
  color: var(--color-green);
}

.icon.cancel:hover {
  color: var(--color-red);
}
