.form {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
}

.feedback {
  font-size: 0.8rem;
  color: #f5554a;
  text-align: right;
}

.button {
  position: absolute;
  top: 8px;
  right: 8px;
  background: transparent;
}

.button.submit {
  right: 38px;
}

.icon {
  transition: color 250ms ease-in;
}

.icon.edit:hover {
  color: #42dc99;
}

.icon.cancel:hover {
  color: #f5554a;
}
