@value breakpoints: "../../../styles/breakpoints.css";
@value desktop from breakpoints;

.monthInfo {
  background: var(--color-white);
  padding: 16px;
  border-radius: 12px;
}

.title {
  margin: 0 0 8px;
}

.p:not(:last-child) {
  margin-bottom: 8px;
}
@media desktop {
  .monthInfo {
    width: 45%;
  }
}
