@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Hahmlet:wght@200;400;700&family=Noto+Sans+KR&family=Noto+Serif+KR:wght@400;500;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --color-light: #e0e1dd;
  --color-dark: #0d1b2a;
  --color-light-blue: #778da9;
  --color-blue: #415a77;
  --color-dark-blue: #1b263b;
  --color-red: #c81d25;
  --color-green: #1b512d;
  --color-white: #fcfcfc;
  --color-hover-blue: #4ba3c3;
  --color-hover-red: #ff4443;
  --color-hover-green: #28a264;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", "Noto Sans KR", sans-serif;
  background: var(--color-light);
  color: var(--color-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
}

button:hover {
  cursor: pointer;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.sr-only {
  position: absolute;
  z-index: -100;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
}
