.selectBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 8px;
  background: transparent;
}

.selectBox.invalid {
  border: 1px solid #f5554a;
  background: rgba(255, 0, 0, 0.2);
}

.activeSelectBox {
  border: 1px solid #1da1f2;
  background: #f5f5f5;
}

.input {
  width: 100%;
  padding: 8px 16px;
  border: none;
  background: transparent;
}

.icon {
  padding-right: 8px;
}

.optionList {
  border: 1px solid black;
  border-radius: 4px;
  margin: 0;
  margin-bottom: 8px;
}

.optionList.scrollable {
  overflow-y: scroll;
}

.optionItem {
  padding: 8px 16px;
  border-radius: 4px;
}

.optionItem:hover {
  background: #1da1f2;
  color: #fcfcfc;
  cursor: pointer;
}
